@import 'styles/theme.scss';

$padding-x: 50px;

@mixin container-base() {
  max-width: $content-max-width;
  padding: 0 $padding-x;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}

.container {
  @include container-base();
}

.noPaddingContainer {
  @include container-base();
  padding: 0;
}
