@import 'styles/theme.scss';

.container {
  box-shadow: 0px 4px 16px rgba(31, 48, 78, 0.425);
  border-radius: 4px;
  overflow: hidden;

  background-image: radial-gradient(
    circle at 50% 0%,
    rgb(18, 11, 43),
    rgb(14, 17, 37)
  );
  padding: 0.75rem 1rem;
  margin-bottom: 16px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  > h1 {
    font-size: $text-sm;
    font-weight: 600;
    color: white;
  }
}

.resourceList {
  margin-top: 8px;
  list-style: none;
}

.resource {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: 500;
  margin-bottom: 0.5rem;
  color: white;

  cursor: pointer;

  .text {
    font-size: $text-xs;
  }

  &:hover {
    text-decoration: underline;
  }

  .icon {
    margin-right: 0.5rem;

    $size: 1.2rem;
    width: $size;
    height: $size;
  }
}
