@import 'styles/theme.scss';
@import 'styles/screens.scss';

$border-radius: 10px;

.container {
  margin-top: 100px;

  @include medium-screen() {
    margin-top: 175px;
  }

  background-color: black;
  padding: 60px 0px;
  color: white;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    font-family: $font-mono;
  }
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
}

.copyrightNotice {
  font-size: 0.9rem;

  > span {
    vertical-align: middle;
  }
}
