$content-max-width: 1000px;

$text-xl: 3em;
$text-lg: 2em;
$text-md: 1.5em;
$text-sm: 1.15em;
$text-xs: 0.85em;

$primary-font: 'Readex Pro', sans-serif;
$secondary-font: 'Open Sans', sans-serif;
$font-mono: 'Fira Code', monospace;

$gray-a: #eaeaea;

$theme-color-a: #210dfa;
$theme-color-b: #570bde;
$theme-color-c: #9d00f5;
$theme-color-d: #ca0bde;
$theme-color-e: #fa0dac;

$cubic-transition: cubic-bezier(0.075, 0.82, 0.165, 1);
