$text-large-size: 1.5em;
$text-medium-size: 1.25em;
$text-small-size: 1em;
$text-x-small-size: 0.875em;

$font-mono: 'Fira Code', monospace;

$theme-color-a: #3b3cf6;
$theme-color-b: #335ed4;
$theme-color-c: #449deb;
$theme-color-d: #33b3d4;
$theme-color-e: #3bf6ea;
