@import 'styles/theme.scss';
@import 'styles/screens.scss';

$container-skew-deg: -4deg;

.header {
  padding: 40px 0px 70px 0px;
  color: white;

  h1 {
    font-weight: 800;
  }

  h3 {
    font-size: 1rem;
    color: rgb(238, 66, 132);
    font-weight: 900;
  }

  background-image: radial-gradient(
    at 100% 0%,
    rgb(25, 25, 66),
    rgb(28, 19, 43) 85%
  );
}

.skew {
  position: absolute;
  height: 100%;
  width: 100%;
  transform-origin: top left;
  left: 0;
  background-color: white;
  transform: skewY($container-skew-deg);
  z-index: 1;
}

.content {
  position: relative;
  transform: none;
  z-index: 2;
}

.assignments {
  padding-top: 50px;
  position: relative;
  z-index: 3;
}

@include large-screen() {
  $container-skew-deg: -2deg;
}
